@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --quote-icon: url('/iconmonstr-quote-light.svg');
}
:root .dark {
  --quote-icon: url('/iconmonstr-quote-dark.svg');
}

.gradient-border-light {
  border-image: linear-gradient(to right, #46037e 0%, RoyalBlue 50%, #46037e 100%);
  border-image-slice: 1;
}

.gradient-border-dark {
  border-image: linear-gradient(to right, #46037e 0%, RoyalBlue 50%, #46037e 100%);
  border-image-slice: 1;
}

.text-shadow-text {
  text-shadow: rgb(0 0 0 / 46%) 4px 4px 6px;
}

body {
  @apply bg-white font-sans hyphens-auto;
}

body.dark {
  @apply bg-dk-blue-darkest
}

.dark .logo-dark,
.light .logo-light {
  @apply hidden invisible;
}

p {
  @apply my-6 leading-relaxed;
}

.post-link:hover .post-title {
  @apply text-lt-purple dark:text-dk-blue-light underline decoration-2 underline-offset-4
}

h2 {
  @apply text-2xl	lg:text-3xl font-bold mt-8
}

h3 {
  @apply text-xl	lg:text-2xl font-bold mt-8
}

h4 {
  @apply text-lg	lg:text-xl font-bold mt-8
}

.custom-grid {
  grid-template-columns: 1fr 280px;
}

blockquote {
  @apply relative bg-slate-300 dark:bg-slate-900 my-8 p-6 border-solid border-l-8 border-l-lt-purple dark:border-l-dk-blue-light;
}

.box p:first-of-type,
blockquote p:first-of-type {
  @apply mt-0
}

.box p:last-of-type {
  @apply mb-0
}

blockquote cite {
  @apply block text-base not-italic mt-4 lg:text-right
}

blockquote::after {
  @apply block absolute right-[-4px] md:right-[-2rem] top-[-2rem] text-7xl;

  background-image: var(--quote-icon);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 4rem;
  content: '';
  height: 4rem;
  width: 4rem;
}

code {
  @apply text-base border-solid border py-0.5 px-1 mx-0.5 inline-block bg-lt-code-bg border-lt-code-border dark:bg-dk-code-bg dark:border-dk-code-border
}

main {
  @apply text-lg lg:text-xl
}


.breadcrumb a,
#main-menu-nav a,
main a,
footer a {
  @apply underline underline-offset-4 decoration-2 text-lt-blue-dark dark:text-dk-blue-light;
  @apply hover:text-lt-purple hover:decoration-4 dark:hover:text-wheat;
  @apply focus:text-lt-purple dark:focus:text-wheat focus:outline-2 focus:outline-offset-2 focus:no-underline focus:outline-lt-purple dark:focus:outline-wheat
}

.glossary-term ul,
.bodytext ul,
.box ul {
  @apply list-disc ml-5 leading-loose
}

a[aria-current=true],
a[aria-current="page"],
#main-menu-nav a[aria-current="page"],
.active-link {
  @apply underline decoration-4 underline-offset-4 text-lt-purple dark:text-wheat;
  @apply hover:decoration-2;
}

button[aria-current="true"] {
  @apply underline decoration-4 underline-offset-4 text-lt-purple dark:text-wheat;
  @apply hover:decoration-2;
}

ol {
  @apply list-decimal leading-normal;

  margin-block-start: 0.25em;
  margin-block-end: 0.25em;
  margin-inline-start: 1.5em;
  margin-inline-end: 0;
  padding-inline-start: 0;
}

ol li {
  @apply my-4
}

blockquote ul {
  @apply list-disc
}

blockquote ol,
blockquote ul {
  margin-block-start: 0.25em;
  margin-block-end: 0.25em;
  margin-inline-start: 1.5em;
  margin-inline-end: 0;
  padding-inline-start: 0;
}

blockquote p:last-of-type {
  @apply mb-0
}

/* Silly background images */
.bg-1 {
  background-image: url('/mountains/1.jpg');
}
@supports (background-image: -webkit-image-set(url('/mountains/1.webp') 1x)) {
  .bg-1 {background-image: -webkit-image-set(url('/mountains/1.webp') 1x) }
}
.bg-2 {
  background-image: url('/mountains/2.jpg');
}
@supports (background-image: -webkit-image-set(url('/mountains/2.webp') 1x)) {
  .bg-2 {background-image: -webkit-image-set(url('/mountains/2.webp') 1x) }
}
.bg-3 {
  background-image: url('/mountains/3.jpg');
}
@supports (background-image: -webkit-image-set(url('/mountains/3.webp') 1x)) {
  .bg-3 {background-image: -webkit-image-set(url('/mountains/3.webp') 1x) }
}
.bg-4 {
  background-image: url('/mountains/4.jpg');
}
@supports (background-image: -webkit-image-set(url('/mountains/4.webp') 1x)) {
  .bg-4 {background-image: -webkit-image-set(url('/mountains/4.webp') 1x) }
}
.bg-5 {
  background-image: url('/mountains/5.jpg');
}
@supports (background-image: -webkit-image-set(url('/mountains/5.webp') 1x)) {
  .bg-5 {background-image: -webkit-image-set(url('/mountains/5.webp') 1x) }
}
.bg-6 {
  background-image: url('/mountains/6.jpg');
}
@supports (background-image: -webkit-image-set(url('/mountains/6.webp') 1x)) {
  .bg-6 {background-image: -webkit-image-set(url('/mountains/6.webp') 1x) }
}

.main-image--wrapper::before {
  @apply z-10 absolute block bottom-0 left-0 right-0 top-0 w-full;

  content: "";
}

.light .main-image--wrapper::before{
  background-color: rgba(230, 200, 252, 0.2);
  background: linear-gradient(to right, rgba(187, 201, 247, 0.4) 0%, rgba(230,202, 252, 0.4) 50%, rgba(187, 201, 247, 0.4) 100%);
}

.dark .main-image--wrapper::before {
  background-color: rgba(53, 3, 94, 0.2);
  background: linear-gradient(to right, rgba(24, 57, 154, 0.3) 0%, rgba(53, 3, 94, 0.3) 50%, rgba(24, 57, 154, 0.3) 100%);
}

.hide-menu {
  @apply hidden invisible;
}

.menu-button[aria-expanded="false"] + ul {
  @apply hidden invisible;
}

.menu-button[aria-expanded="true"] .menu-button--icon  {
  @apply rotate-180;
}

.menu-toggle[aria-expanded="false"] + ul {
  @apply max-lg:hidden max-lg:invisible;
}

.menu-toggle[aria-expanded="true"] .menu-open {
  @apply max-lg:hidden max-lg:invisible;
}
.menu-toggle[aria-expanded="false"] .menu-close {
  @apply max-lg:hidden max-lg:invisible;
}

.lang-switcher[aria-expanded="false"] + ul {
  @apply hidden invisible;
}

.icon--footer {
  @apply fill-lt-blue-dark dark:fill-dk-blue-light
}

.lang-switcher a[aria-current="page"] {
  @apply underline decoration-4 underline-offset-4 text-lt-purple dark:text-wheat;
  @apply hover:decoration-2;
}

.lang-switcher a {
  @apply hover:underline hover:text-lt-purple hover:decoration-4 dark:hover:text-wheat;
}

.button {
  @apply bg-lt-blue-dark text-white border-4 border-transparent dark:bg-dk-blue-light dark:text-black py-3 px-5;
  @apply hover:border-4 hover:border-lt-blue-dark hover:bg-transparent hover:text-lt-blue-dark dark:hover:text-dk-blue-light dark:hover:border-dk-blue-light;
  @apply focus:outline focus:outline-2 focus:outline-offset-4 focus:outline-black dark:focus:outline-white
}

.button--alternative {
  @apply text-lt-blue-dark dark:text-dk-blue-light py-2 px-3;
}

.item--transition {
  @apply transition-colors ease-in-out duration-300;
  @apply hover:transition-colors hover:ease-in-out hover:duration-300
}

.hover--border {
  @apply border-y-4 border-transparent;
  @apply hover:border-y-4 hover:border-lt-purple dark:hover:border-dk-blue-light;
  @apply focus:outline focus:outline-2 focus:outline-offset-4	focus:outline-black dark:focus:outline-white;
}

.example-section p:first-child {
  @apply mt-0;
}

/* Demo content */
.demo-no-focus:focus {
  @apply hidden;
}
.pseudo-test-triangle-problem,
.pseudo-test-triangle-better {
  @apply flex;
}
.pseudo-test-triangle-problem::before {
  content: '\25BA' !important;
  display: block !important;
  height: 10px !important;
  padding-right: 30px !important;
  width: 10px !important;
}
.pseudo-test-triangle-better::before {
  content: '\25BA' / '';
  display: block;
  height: 10px;
  padding-right: 30px;
  width: 10px;
}

.list-no-style {
  list-style: none;
}
.list-css-fix li {
  @apply list-none;
}
.list-css-fix li::before {
  content: "\200B";
}


table {
  @apply border-2 border-black dark:border-white p-2;
}

th {
  @apply font-bold p-4 border-2 border-black dark:border-white;
}

td {
  @apply p-4 border-2 border-black dark:border-white;
}

table caption {
  @apply text-center my-2;
}

.table figcaption {
  @apply my-2;
}

a.no-focus:focus {
  @apply border-none text-lt-blue-dark dark:text-dk-blue-light underline underline-offset-4 decoration-2;

  outline: none !important;
}

.example-section select {
  @apply p-2 text-black border-2 border-black;
}

input[type="text"] {
  @apply py-2.5 px-4 my-2 text-black border-2 m-0 border-solid border-black dark:border-white;
  @apply focus:outline focus:outline-2 focus:outline-offset-4	focus:outline-black dark:focus:outline-white
}

.mobile-menu-toggle {
  @apply float-right;
}
.mobile-menu-toggle[aria-expanded="false"] .icon--minus {
  @apply hidden invisible;
}
.mobile-menu-toggle[aria-expanded="true"] .icon--plus {
  @apply hidden invisible;
}
.mobile-menu-toggle[aria-expanded="false"] + ul {
  @apply hidden invisible;
}


.sub-header {
  width: calc(100% - 1.25rem);
}

.glossary-term p:first-of-type {
  @apply mt-0;
}
.glossary-term p:last-of-type {
  @apply mb-0;
}
