@tailwind base;
@tailwind components;
@tailwind utilities;


.gradient-border-light {
  border-image: linear-gradient(to right, #46037e 0%, RoyalBlue 50%, #46037e 100%);
  border-image-slice: 1;
}

.gradient-border-dark {
  border-image: linear-gradient(to right, #46037e 0%, RoyalBlue 50%, #46037e 100%);
  border-image-slice: 1;
}

.text-shadow-text {
  text-shadow: rgb(0 0 0 / 46%) 4px 4px 6px;
}

body {
  @apply bg-white font-sans
}

body.dark {
  @apply bg-dk-blue-darkest
}

.dark .logo-dark,
.light .logo-light {
  @apply hidden invisible;
}

p {
  @apply my-6 leading-relaxed;
}

.post-link:hover .post-title {
  @apply text-lt-purple dark:text-dk-blue-light underline decoration-2 underline-offset-4
}

h2 {
  @apply text-2xl	lg:text-3xl font-bold mt-8
}

h3 {
  @apply text-xl	lg:text-2xl font-bold mt-8
}

h4 {
  @apply text-lg	lg:text-xl font-bold mt-8
}

.custom-grid {
  grid-template-columns: 1fr 280px;
}

blockquote {
  @apply italic my-8 pl-4 py-1 border-solid border-l-4 border-l-lt-purple dark:border-l-dk-blue-light
}

.box p:first-of-type,
blockquote p:first-of-type {
  @apply mt-0
}

.box p:last-of-type {
  @apply mb-0
}

blockquote cite {
  @apply text-base not-italic
}

code {
  @apply text-base border-solid border py-0.5 px-1 mx-0.5 inline-block bg-lt-code-bg border-lt-code-border dark:bg-dk-code-bg dark:border-dk-code-border
}

main {
  @apply text-lg lg:text-xl
}

main a,
footer a {
  @apply underline underline-offset-4 decoration-2 text-lt-blue-dark dark:text-dk-blue-light;
  @apply hover:text-lt-purple hover:decoration-4 dark:hover:text-wheat;
  @apply focus:text-lt-purple dark:focus:text-wheat focus:outline-2 focus:outline-offset-2 focus:no-underline focus:outline-lt-purple dark:focus:outline-wheat
}

.bodytext ul,
.box ul {
  @apply list-disc ml-5 leading-8
}

a[aria-current=true],
.active-link {
  @apply underline decoration-4 underline-offset-4 text-lt-purple dark:text-wheat;
  @apply hover:decoration-2;
}

blockquote ol {
  @apply list-decimal
}

blockquote ul {
  @apply list-disc
}

blockquote ol,
blockquote ul {
  margin-block-start: 0.25em;
  margin-block-end: 0.25em;
  margin-inline-start: 1.5em;
  margin-inline-end: 0;
  padding-inline-start: 0;
}

blockquote p:last-of-type {
  @apply mb-0
}


/* Silly background images */
.bg-1 {
  background-image: url('/mountains/1.jpg');
}
.bg-2 {
  background-image: url('/mountains/2.jpg');
}
.bg-3 {
  background-image: url('/mountains/3.jpg');
}
.bg-4 {
  background-image: url('/mountains/4.jpg');
}
.bg-5 {
  background-image: url('/mountains/5.jpg');
}
.bg-6 {
  background-image: url('/mountains/6.jpg');
}


.main-image--wrapper::before {
  @apply z-10 absolute block bottom-0 left-0 right-0 top-0 w-full;

  content: "";
}

.light .main-image--wrapper::before{
  background-color: rgba(230, 200, 252, 0.2);
  background: linear-gradient(to right, rgba(187, 201, 247, 0.4) 0%, rgba(230,202, 252, 0.4) 50%, rgba(187, 201, 247, 0.4) 100%);
}

.dark .main-image--wrapper::before {
  background-color: rgba(53, 3, 94, 0.2);
  background: linear-gradient(to right, rgba(24, 57, 154, 0.3) 0%, rgba(53, 3, 94, 0.3) 50%, rgba(24, 57, 154, 0.3) 100%);
}

.hide-menu {
  @apply hidden invisible;
}

.menu-button[aria-expanded="false"] + ul {
  @apply hidden invisible;
}

.menu-button[aria-expanded="true"] .menu-button--icon  {
  @apply rotate-180;
}

.menu-toggle[aria-expanded="false"] + ul {
  @apply max-md:hidden max-md:invisible;
}

.menu-toggle[aria-expanded="true"] .menu-open {
  @apply max-md:hidden max-md:invisible;
}
.menu-toggle[aria-expanded="false"] .menu-close {
  @apply max-md:hidden max-md:invisible;
}

.lang-switcher[aria-expanded="false"] + ul {
  @apply hidden invisible;
}

.icon--footer {
  @apply fill-lt-blue-dark dark:fill-dk-blue-light
}
